* {
  box-sizing: border-box;
}

:root {
  --piece-color: green;
}

html,
body,
#app {
  width: 100%;
  height: 100%;
  margin: 0;
}

.chess-border {
  width: 800px;
  height: 800px;
  margin: auto;
  border: solid 2px black;
  display: flex;
  flex-direction: column;
}

.row {
  width: 100%;
  flex: 1;
  display: flex;
}

.field {
  height: 100%;
  flex: 1;
  border: solid 1px black;
}

.row:nth-of-type(odd) > .field:nth-child(even) {
  background-color: var(--piece-color);
}

.row:nth-of-type(even) > .field:nth-of-type(odd) {
  background-color: var(--piece-color);
}
