.draggable {
  user-select: none;
  cursor: grab;
}

body.dragging {
  cursor: grabbing;
}

.draggable.dragging {
  cursor: grabbing;
}

.draggable.cloned-element {
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  will-change: transform;
  transition: transform 100ms;
}

.draggable.cloned-element > img {
  transition: transform 300ms, opacity 300ms;
}

.draggable.cloned-element.placing > img {
  transform: scale(0.8);
  opacity: 0;
}

.draggable > img {
  pointer-events: none;
}
